div.header
    if isAuthenticated
        div.userwidget
            div zalogowano jako:
            div.username= user.username
            include logoutButton
    div.pagetitle
        h1 <a href="/"> KtoKomuIle </a>