extends layout

block content
    +checkRead
        +backbutton('/rachunek/'+rachunek.idRachunek+'/czlonkowie', 'wróć do listy członków')
        +checkWrite
            h1 Nowy członek
            div
                h4 Podaj login użytkownika, którego chcesz dodać:
                form(action='/rachunek/'+rachunek.idRachunek+'/nowy_czlonek' method='post')
                    div
                        label(for='nazwa_uzytkownik') Login:
                        input(type='text' id='nazwa_uzytkownik' name='login' required)
                        button(type='submit') Dodaj
            div
                p --- lub ---
            div
                h4 Dodaj członka nie będącego użytkownikiem:
                form(action='/rachunek/'+rachunek.idRachunek+'/nowy_czlonek' method='post')
                    div
                        label(for='nazwa_wirtualny') Nazwa:
                        input(type='text' id='nazwa_wirtualny' name='pseudonim' required)
                        button(type='submit') Dodaj