extends layout

block content
    +backbutton('/home','wróć')
    h1 Nowy rachunek
    form(action='/home/new/' method='post')
        section
            label(for='nazwa') Nazwa rachunku:
            input(id='nazwa', type='text', name='nazwa', required)
            button(type='submit') Dodaj