extends layout

block content
    h1 Witaj w serwisie KtoKomuIle, #{user.username}!
    h2 Lista twoich rachunków:
    ul
        each rachunek in rachunki
            li <a href='/rachunek/#{rachunek.idRachunek}/wydatki'>#{rachunek.nazwa}</a>
    div
        a(href='/home/new') <button>Dodaj nowy rachunek</button>
    div
        include components/logoutButton