extends layout

block content
    h1 Witaj w serwisie KtoKomuIle, <span class='username'>#{user.username}</span>!
    h2 Lista twoich rachunków:
    div.listaRachunkow
        each rachunek in rachunki
            div
                a(href='/rachunek/' + rachunek.idRachunek + '/wydatki')
                    p=rachunek.nazwa
        div
            a(href='/home/new') +