extends layout

block content
  if authentication
    h1 Witaj w serwisie, #{user.username}!
  else
    h1 Zaloguj się, aby korzystać z serwisu
  ul
    li
      a(href="/login") Logowanie
    li
      a(href="/signup") Rejestracja
    li
      form(action='/logout' method='post')
        button(type='submit') Wyloguj