extends rachunek

block karta
    h2 Lista wydatków:
    if authWrite
        a(href='/rachunek/' + rachunek.idRachunek + '/nowy_wydatek') <button>Nowy wydatek</button>
    ul
        each wydatek in wydatki
            li
                div.rekord
                    span= wydatek.wpis
                    span= wydatek.kto
                    span= wydatek.kwota + wydatek.waluta
                    span= wydatek.kiedy.toDateString()
