extends rachunek

block karta
    h2 Lista członków:
    if authWrite
        a(href='/rachunek/' + rachunek.idRachunek + '/nowy_czlonek') <button>Dodaj członka</button>
    ul
        each czlonek in czlonkowie
            li
                div.rekord
                    p= czlonek.pseudonim
                    p= czlonek.czyWirtualny ? 'wirtualny' : 'użytkownik'
                    div
                        each waluta in Object.entries(czlonek.bilans)
                            if Math.abs(waluta[1]) > 0.01
                                p= waluta[1].toFixed(2) + ' ' + waluta[0]