extends rachunek

block karta
    h2 Lista wydatków:
    ol.listaWpisow.container-fluid
        if authWrite
            li.row.align-items-center.rekord
                a.addButton(href='/rachunek/' + rachunek.idRachunek + '/nowy_wydatek') +
        each wydatek in wydatki
            li.row.align-items-center.rekord
                .col-sm
                    div.pole= wydatek.wpis
                .col-sm
                    div.pole.username= wydatek.kto
                .col-sm
                    div.pole= wydatek.kwota + wydatek.waluta
                .col-sm
                    div.pole= wydatek.kiedy.toDateString()
                if authWrite
                    .col-sm-2
                        a.deleteButton(href='/rachunek/' + rachunek.idRachunek + '/usun_wydatek/' + wydatek.idWpis) usuń