extends rachunek

block karta
    h2 Lista wydatków:
    if authWrite
        a(href='/rachunek/' + rachunek.idRachunek + '/nowy_wydatek') <button>Nowy wydatek</button>
    ol
        each wydatek in wydatki
            li
                div.wyd
                    p= wydatek.wpis
                    p= wydatek.kto
                    p= wydatek.kwota + wydatek.waluta
                    p= wydatek.kiedy.toDateString()
