extends layout

block content
    +backbutton('/home', 'wróć do listy rachunków')
    +checkRead
        h1 Rachunek: #{rachunek.nazwa}
        nav.container-fluid
            div.row
                div.col-sm
                    a.navButton(href=('/rachunek/'+rachunek.idRachunek+'/wydatki')) Wydatki
                div.col-sm
                    a.navButton(href=('/rachunek/'+rachunek.idRachunek+'/czlonkowie')) Członkowie
                div.col-sm
                    a.navButton(href=('/rachunek/'+rachunek.idRachunek+'/rozliczenia')) Rozliczenia
        div.karta
            block karta