body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.listaRachunkow > li {
  color: darkslategray;
}

.header {
  margin: 0 auto;
  background: chartreuse;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.footer {
  margin: 0 auto;
  background: chartreuse;
  display: flex;
  flex-direction: row;
  justify-content: center;
}