body {
  padding: 0;
  margin: 0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  display: flex;
  flex-direction: column;
  height: 98vh;
  width: 100%;
  justify-content: space-between;
}

main {
  width: 100%;
  padding: 10px;
  margin: 0 auto;
}

a {
  color: #00B7FF;
}

.listaRachunkow > li {
  color: darkslategray;
}

.header {
  width: 100%;
  margin: 0 auto;
  background: chartreuse;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.footer {
  width: 100%;
  margin: 0 auto;
  background: chartreuse;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

h1 > a {
  color: black;
  text-decoration: none;
}

h1 > a:hover {
  text-decoration: underline;
}